USE [master]
GO
/****** Object:  Database [QRIDE]    Script Date: 5/7/2026 11:57:24 AM ******/
CREATE DATABASE [QRIDE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QRIDE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.YAIRO\MSSQL\DATA\QRIDE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QRIDE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.YAIRO\MSSQL\DATA\QRIDE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QRIDE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QRIDE]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title_key] [varchar](100) NULL,
	[message_key] [varchar](100) NULL,
	[message_args] [nvarchar](255) NULL,
	[type] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_transactions]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[payment_id] [int] NOT NULL,
	[provider] [varchar](20) NULL,
	[request_id] [varchar](100) NULL,
	[order_id] [varchar](100) NULL,
	[trans_id] [varchar](100) NULL,
	[amount] [bigint] NULL,
	[response_code] [varchar](20) NULL,
	[message] [nvarchar](255) NULL,
	[raw_response] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[rental_id] [int] NULL,
	[amount] [bigint] NOT NULL,
	[currency] [varchar](10) NULL,
	[method] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[transaction_code] [varchar](100) NULL,
	[external_ref] [varchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unlock_fee] [int] NOT NULL,
	[price_per_minute] [int] NOT NULL,
	[price_per_km] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NULL,
	[start_lat] [float] NULL,
	[start_lng] [float] NULL,
	[end_lat] [float] NULL,
	[end_lng] [float] NULL,
	[total_distance] [float] NULL,
	[total_price] [int] NULL,
	[status] [varchar](20) NOT NULL,
	[payment_status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_tracking]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_tracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rental_id] [int] NOT NULL,
	[lat] [float] NOT NULL,
	[lng] [float] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stations]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](255) NULL,
	[lat] [float] NOT NULL,
	[lng] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_config](
	[key] [varchar](50) NOT NULL,
	[value] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vouchers]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
	[current_progress] [int] NULL,
	[status] [varchar](20) NULL,
	[action_key] [varchar](50) NULL,
	[btn_type] [varchar](20) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[cccd] [varchar](12) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[birthday] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate] [varchar](20) NULL,
	[pin] [int] NULL,
	[station_id] [int] NULL,
	[current_status] [varchar](20) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[icon_name] [varchar](100) NULL,
	[title_key] [varchar](100) NULL,
	[description_key] [varchar](100) NULL,
	[discount_text] [nvarchar](255) NULL,
	[expiry_text] [nvarchar](100) NULL,
	[default_action_key] [varchar](50) NULL,
	[default_btn_type] [varchar](20) NULL,
	[has_progress] [bit] NULL,
	[max_progress] [int] NULL,
	[created_at] [datetime] NULL,
	[title_display] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [bigint] NULL,
	[currency] [varchar](10) NULL,
	[status] [varchar](10) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 5/7/2026 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[payment_id] [int] NULL,
	[rental_id] [int] NULL,
	[amount] [bigint] NOT NULL,
	[type] [varchar](20) NULL,
	[balance_before] [bigint] NULL,
	[balance_after] [bigint] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[payment_transactions] ON 

INSERT [dbo].[payment_transactions] ([id], [payment_id], [provider], [request_id], [order_id], [trans_id], [amount], [response_code], [message], [raw_response], [created_at]) VALUES (1, 1, N'momo', NULL, NULL, N'TRANS001', 50000, N'0', NULL, NULL, CAST(N'2026-05-06T12:31:38.550' AS DateTime))
SET IDENTITY_INSERT [dbo].[payment_transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [user_id], [rental_id], [amount], [currency], [method], [status], [transaction_code], [external_ref], [description], [created_at], [updated_at]) VALUES (1, 1, NULL, 50000, N'VND', N'momo', N'success', N'TXN001', N'MOMO123', NULL, CAST(N'2026-05-06T12:11:49.830' AS DateTime), CAST(N'2026-05-06T12:11:49.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing] ON 

INSERT [dbo].[pricing] ([id], [unlock_fee], [price_per_minute], [price_per_km], [created_at]) VALUES (1, 5000, 500, 1000, CAST(N'2026-05-06T12:31:38.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[pricing] OFF
GO
SET IDENTITY_INSERT [dbo].[rental] ON 

INSERT [dbo].[rental] ([id], [vehicle_id], [user_id], [start_time], [end_time], [start_lat], [start_lng], [end_lat], [end_lng], [total_distance], [total_price], [status], [payment_status], [created_at]) VALUES (1, 1, 1, CAST(N'2026-05-06T12:11:49.907' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, 15000, N'done', N'paid', CAST(N'2026-05-06T12:11:49.907' AS DateTime))
INSERT [dbo].[rental] ([id], [vehicle_id], [user_id], [start_time], [end_time], [start_lat], [start_lng], [end_lat], [end_lng], [total_distance], [total_price], [status], [payment_status], [created_at]) VALUES (2, 1, 1, CAST(N'2026-05-06T12:31:38.597' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, 0, N'renting', N'unpaid', CAST(N'2026-05-06T12:31:38.597' AS DateTime))
SET IDENTITY_INSERT [dbo].[rental] OFF
GO
SET IDENTITY_INSERT [dbo].[rental_tracking] ON 

INSERT [dbo].[rental_tracking] ([id], [rental_id], [lat], [lng], [created_at]) VALUES (1, 1, 10.7727, 106.6981, CAST(N'2026-05-06T12:31:38.613' AS DateTime))
INSERT [dbo].[rental_tracking] ([id], [rental_id], [lat], [lng], [created_at]) VALUES (2, 1, 10.7728, 106.6982, CAST(N'2026-05-06T12:31:38.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[rental_tracking] OFF
GO
SET IDENTITY_INSERT [dbo].[stations] ON 

INSERT [dbo].[stations] ([id], [name], [address], [lat], [lng]) VALUES (1, N'Trạm Bến Thành', N'Q1', 10.7726, 106.698)
INSERT [dbo].[stations] ([id], [name], [address], [lat], [lng]) VALUES (2, N'Trạm Lê Thánh Tôn', N'Q1', 10.7742, 106.6963)
INSERT [dbo].[stations] ([id], [name], [address], [lat], [lng]) VALUES (3, N'Trạm Hàm Nghi', N'Q1', 10.771, 106.703)
SET IDENTITY_INSERT [dbo].[stations] OFF
GO
INSERT [dbo].[system_config] ([key], [value]) VALUES (N'low_balance_warning', N'10000')
INSERT [dbo].[system_config] ([key], [value]) VALUES (N'min_wallet_to_rent', N'20000')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [phone], [password_hash], [name], [cccd], [address], [gender], [birthday], [created_at]) VALUES (1, N'0987654322', N'$2b$10$FcYmPAGfEQoKjny8A4Ha9ep3CSAsWu/K7LEDV0qKp7QDEP6oHWeJ.', N'Người dùng 2', N'001099000002', N'HCM', N'Nam', CAST(N'2000-02-01' AS Date), CAST(N'2026-05-06T12:11:49.653' AS DateTime))
INSERT [dbo].[users] ([id], [phone], [password_hash], [name], [cccd], [address], [gender], [birthday], [created_at]) VALUES (2, N'0987654323', N'$2b$10$FhyyqtpFSnNnlBNiOqaVLu7syJ9hd/DYvE4ooKVOpFbsp/jEzLJEe', N'Người dùng 3', N'001099000003', N'HCM', N'Nữ', CAST(N'2000-03-01' AS Date), CAST(N'2026-05-06T12:11:49.653' AS DateTime))
INSERT [dbo].[users] ([id], [phone], [password_hash], [name], [cccd], [address], [gender], [birthday], [created_at]) VALUES (3, N'0987654324', N'$2b$10$f.beaMfXcGIgIFai0iJ3R.CufulMUS7GwxkkBOadW/v63qjAjTt4S', N'Người dùng 4', N'001099000004', N'Bình Dương', N'Nam', CAST(N'2000-04-01' AS Date), CAST(N'2026-05-06T12:11:49.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle] ON 

INSERT [dbo].[vehicle] ([id], [plate], [pin], [station_id], [current_status], [updated_at]) VALUES (1, N'112-643', 100, 1, N'available', CAST(N'2026-05-06T12:11:49.750' AS DateTime))
INSERT [dbo].[vehicle] ([id], [plate], [pin], [station_id], [current_status], [updated_at]) VALUES (2, N'113-222', 80, 1, N'available', CAST(N'2026-05-06T12:11:49.750' AS DateTime))
INSERT [dbo].[vehicle] ([id], [plate], [pin], [station_id], [current_status], [updated_at]) VALUES (3, N'114-999', 60, 2, N'available', CAST(N'2026-05-06T12:11:49.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([id], [type], [icon_name], [title_key], [description_key], [discount_text], [expiry_text], [default_action_key], [default_btn_type], [has_progress], [max_progress], [created_at], [title_display]) VALUES (3, N'TICH_QUA', N'ic_gift', N'v_title_welcome', NULL, N'v_discount_50', N'v_expiry_30d', N'action_use_now', N'GREEN', 0, 0, CAST(N'2026-05-06T19:58:23.890' AS DateTime), N'Quà chào mừng')
INSERT [dbo].[vouchers] ([id], [type], [icon_name], [title_key], [description_key], [discount_text], [expiry_text], [default_action_key], [default_btn_type], [has_progress], [max_progress], [created_at], [title_display]) VALUES (4, N'TICH_QUA', N'ic_membership', N'v_title_invite', NULL, N'v_discount_free', N'v_expiry_none', N'action_invite_now', N'ORANGE', 1, 5, CAST(N'2026-05-06T19:58:23.890' AS DateTime), N'Mời bạn nhận quà')
INSERT [dbo].[vouchers] ([id], [type], [icon_name], [title_key], [description_key], [discount_text], [expiry_text], [default_action_key], [default_btn_type], [has_progress], [max_progress], [created_at], [title_display]) VALUES (5, N'GOI_HOI_VIEN', N'ic_membership_crown', N'v_title_m_basic', NULL, N'v_discount_basic', N'v_expiry_31_12', N'action_register', N'GREEN', 0, 0, CAST(N'2026-05-06T19:58:23.890' AS DateTime), N'Gói Cơ bản – 1 tháng')
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[wallet] ON 

INSERT [dbo].[wallet] ([id], [user_id], [balance], [currency], [status], [created_at], [updated_at]) VALUES (1, 8, 0, N'VND', N'active', CAST(N'2026-05-06T12:11:49.677' AS DateTime), CAST(N'2026-05-06T12:11:49.677' AS DateTime))
INSERT [dbo].[wallet] ([id], [user_id], [balance], [currency], [status], [created_at], [updated_at]) VALUES (2, 7, 0, N'VND', N'active', CAST(N'2026-05-06T12:11:49.677' AS DateTime), CAST(N'2026-05-06T12:11:49.677' AS DateTime))
INSERT [dbo].[wallet] ([id], [user_id], [balance], [currency], [status], [created_at], [updated_at]) VALUES (3, 6, 0, N'VND', N'active', CAST(N'2026-05-06T12:11:49.677' AS DateTime), CAST(N'2026-05-06T12:11:49.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[wallet] OFF
GO
SET IDENTITY_INSERT [dbo].[wallet_transactions] ON 

INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [payment_id], [rental_id], [amount], [type], [balance_before], [balance_after], [description], [created_at]) VALUES (1, 1, 1, NULL, 50000, N'topup', 0, 50000, N'Nạp tiền MoMo', CAST(N'2026-05-06T12:31:38.553' AS DateTime))
INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [payment_id], [rental_id], [amount], [type], [balance_before], [balance_after], [description], [created_at]) VALUES (2, 1, NULL, 1, -15000, N'payment', 50000, 35000, N'Thanh toán chuyến xe', CAST(N'2026-05-06T12:31:38.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[wallet_transactions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_trans_id]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[payment_transactions] ADD  CONSTRAINT [UQ_trans_id] UNIQUE NONCLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_external_ref]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[payments] ADD  CONSTRAINT [UQ_external_ref] UNIQUE NONCLUSTERED 
(
	[external_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_pay_method_status]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_pay_method_status] ON [dbo].[payments]
(
	[method] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_pay_status]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_pay_status] ON [dbo].[payments]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_pay_user]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_pay_user] ON [dbo].[payments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rental_active]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_active] ON [dbo].[rental]
(
	[user_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rental_status]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_status] ON [dbo].[rental]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_user]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_user] ON [dbo].[rental]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_vehicle]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_vehicle] ON [dbo].[rental]
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tracking_rental]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_tracking_rental] ON [dbo].[rental_tracking]
(
	[rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tracking_time]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_tracking_time] ON [dbo].[rental_tracking]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_station_location]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_station_location] ON [dbo].[stations]
(
	[lat] ASC,
	[lng] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_cccd]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_cccd] UNIQUE NONCLUSTERED 
(
	[cccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_phone]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_phone] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_user_phone]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_user_phone] ON [dbo].[users]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_vehicle_plate]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[vehicle] ADD  CONSTRAINT [UQ_vehicle_plate] UNIQUE NONCLUSTERED 
(
	[plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_vehicle_station]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_vehicle_station] ON [dbo].[vehicle]
(
	[station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_vehicle_station_status]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_vehicle_station_status] ON [dbo].[vehicle]
(
	[station_id] ASC,
	[current_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_vehicle_status]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_vehicle_status] ON [dbo].[vehicle]
(
	[current_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_wallet_user]    Script Date: 5/7/2026 11:57:25 AM ******/
ALTER TABLE [dbo].[wallet] ADD  CONSTRAINT [UQ_wallet_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_wallet_user]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_wallet_user] ON [dbo].[wallet]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_wt_wallet]    Script Date: 5/7/2026 11:57:25 AM ******/
CREATE NONCLUSTERED INDEX [idx_wt_wallet] ON [dbo].[wallet_transactions]
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pricing] ADD  DEFAULT ((1000)) FOR [price_per_km]
GO
ALTER TABLE [dbo].[pricing] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rental] ADD  DEFAULT ((0)) FOR [total_distance]
GO
ALTER TABLE [dbo].[rental] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[rental] ADD  DEFAULT ('unpaid') FOR [payment_status]
GO
ALTER TABLE [dbo].[rental] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rental_tracking] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_vouchers] ADD  DEFAULT ((0)) FOR [current_progress]
GO
ALTER TABLE [dbo].[user_vouchers] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[user_vouchers] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle] ADD  DEFAULT ('available') FOR [current_status]
GO
ALTER TABLE [dbo].[vehicle] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [has_progress]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [max_progress]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallet] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wallet] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[wallet] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[wallet] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallet] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notif_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notif_user]
GO
ALTER TABLE [dbo].[payment_transactions]  WITH CHECK ADD  CONSTRAINT [FK_pt_payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([id])
GO
ALTER TABLE [dbo].[payment_transactions] CHECK CONSTRAINT [FK_pt_payment]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_rental] FOREIGN KEY([rental_id])
REFERENCES [dbo].[rental] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_rental]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_user]
GO
ALTER TABLE [dbo].[rental]  WITH CHECK ADD  CONSTRAINT [FK_rental_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rental] CHECK CONSTRAINT [FK_rental_user]
GO
ALTER TABLE [dbo].[rental]  WITH CHECK ADD  CONSTRAINT [FK_rental_vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[rental] CHECK CONSTRAINT [FK_rental_vehicle]
GO
ALTER TABLE [dbo].[rental_tracking]  WITH CHECK ADD  CONSTRAINT [FK_tracking_rental] FOREIGN KEY([rental_id])
REFERENCES [dbo].[rental] ([id])
GO
ALTER TABLE [dbo].[rental_tracking] CHECK CONSTRAINT [FK_tracking_rental]
GO
ALTER TABLE [dbo].[user_vouchers]  WITH CHECK ADD  CONSTRAINT [FK_uv_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_vouchers] CHECK CONSTRAINT [FK_uv_user]
GO
ALTER TABLE [dbo].[user_vouchers]  WITH CHECK ADD  CONSTRAINT [FK_uv_voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([id])
GO
ALTER TABLE [dbo].[user_vouchers] CHECK CONSTRAINT [FK_uv_voucher]
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD  CONSTRAINT [FK_vehicle_station] FOREIGN KEY([station_id])
REFERENCES [dbo].[stations] ([id])
GO
ALTER TABLE [dbo].[vehicle] CHECK CONSTRAINT [FK_vehicle_station]
GO
ALTER TABLE [dbo].[wallet]  WITH CHECK ADD  CONSTRAINT [FK_wallet_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallet] CHECK CONSTRAINT [FK_wallet_user]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wt_payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wt_payment]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wt_rental] FOREIGN KEY([rental_id])
REFERENCES [dbo].[rental] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wt_rental]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wt_wallet] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallet] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wt_wallet]
GO
ALTER TABLE [dbo].[payment_transactions]  WITH CHECK ADD CHECK  (([provider]='vnpay' OR [provider]='zalopay' OR [provider]='momo'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [chk_payment_amount]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([method]='bank' OR [method]='vnpay' OR [method]='zalopay' OR [method]='momo' OR [method]='wallet'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='failed' OR [status]='success' OR [status]='processing' OR [status]='pending'))
GO
ALTER TABLE [dbo].[rental]  WITH CHECK ADD CHECK  (([payment_status]='partial' OR [payment_status]='paid' OR [payment_status]='unpaid'))
GO
ALTER TABLE [dbo].[rental]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='done' OR [status]='renting'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]=N'Khác' OR [gender]=N'Nữ' OR [gender]=N'Nam'))
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD CHECK  (([current_status]='maintenance' OR [current_status]='renting' OR [current_status]='available'))
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD CHECK  (([pin]>=(0) AND [pin]<=(100)))
GO
ALTER TABLE [dbo].[wallet]  WITH CHECK ADD  CONSTRAINT [chk_balance_non_negative] CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[wallet] CHECK CONSTRAINT [chk_balance_non_negative]
GO
ALTER TABLE [dbo].[wallet]  WITH CHECK ADD CHECK  (([status]='locked' OR [status]='active'))
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [chk_wallet_amount] CHECK  (([amount]<>(0)))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [chk_wallet_amount]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD CHECK  (([type]='withdraw' OR [type]='release' OR [type]='hold' OR [type]='adjustment' OR [type]='refund' OR [type]='payment' OR [type]='topup'))
GO
USE [master]
GO
